@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {

    --color-orange: hsl(25, 97%, 53%);

    --color-white: hsl(0, 0%, 100%);
    --color-light_grey: hsl(217, 12%, 63%);
    --color-medium_grey: hsl(216, 12%, 54%);
    --color-dark_blue: hsl(213, 19%, 18%);
    --color-very_dark_blue: hsl(216, 12%, 8%);

    --ff: "Overpass", serif;
    --fs-body: 15px;
    --fw-regular: 400;
    --fw-bold: 700;

}


*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--color-very_dark_blue);
    color: var(--color-white);
    font-family: var(--ff);
    font-size: var(--fs-body);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: var(--color-dark_blue);
    background: radial-gradient(circle at top, var(--color-dark_blue) 2%, var(--color-very_dark_blue) 160%);
    border-radius: 8%;
    padding: 32px;
    display: grid;
    gap: 25px;
}

.content > img {
    width: fit-content;
    padding: 1rem;
    border-radius: 50%;
    background-color: #2C3138;
}

h1 {
    margin: 0 0 8px 0;
    padding: 0;
    font-size: 1.7rem;
    font-weight: var(--fw-bold);
}

p {
    color: var(--color-light_grey);
    line-height: 1.5;
}

.circle_buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.circle {
    text-align: center;
    vertical-align: center;
    line-height: 48px;
    background-color: #2C3138;
    width: 48px;
    height: 48px;
    margin-right: 22px;
    border-radius: 50%;
    border: none;
    font-size: 1rem;
    color: var(--color-light_grey);
}

.circle:hover {
    background-color: var(--color-orange);
    color: var(--color-white);
    text-shadow: 0 0 4px var(--color-white);
    cursor: pointer;
}

.checked {
    background-color: var(--color-light_grey) !important;
    color: var(--color-white) !important;
}


.sub {
    background-color: var(--color-orange);   
    color: var(--color-white);
    width: 330px;
    height: 45px;
    padding: 50px auto;
    border-radius: 50rem;
    border: none;
    font-size: .90rem;
    font-weight: var(--fw-bold);
    letter-spacing: 1.5px;
    text-shadow: 0px -2px 15px var(--color-white);
}

.sub:hover {
    background-color: var(--color-white);
    color: var(--color-orange);
    cursor: pointer;
    font-weight: var(--fw-bold);
    letter-spacing: 1.5px;
}

.hidden {
    display: none;
}

.thanks_section {
    text-align: center;
    width: 400px;
    height: 400px;
    background-color: var(--color-dark_blue);
    background: radial-gradient(circle at top, var(--color-dark_blue) 1%, var(--color-very_dark_blue) 160%);
    padding: 40px 30px 20px 30px;
    border-radius: 8%;
    
}

.selection-part {
    display: grid;
    place-content: center;

}

.rating{
    margin-top: 25px ;
    color: var(--color-orange);
    background-color: #2C3138;
    border-radius: 50rem;
    padding: 5px 15px;
    width: fit-content;
    animation: glow-effect .8s infinite ease-in-out;
    animation-timing-function: linear;
}



@keyframes glow-effect {
    0% {
        box-shadow: 0px 0px 1px .01px coral;
        transform: scale(1);
        transition-duration: ease .2s;
    }

    50% {
        box-shadow: 0px 0px 14px .01px coral;
        transform: scale(1.02);
        transition-duration: ease .2s;
    }

    50% {
        box-shadow: 0px 0px 26px .01px coral;
        transform: scale(1.04);
        transition-duration: ease .2s;
    }

    100% {
        box-shadow: 0px 0px 12px .01px coral;
        transform: scale(1.01);
        transition-duration: ease .2s;
    }
}

.title {
    color: var(--color-white);
    margin-top: 30px;
    font-size: 1.5rem;
}

.paragraph {
    margin-top: 15px;    
    line-height: 1.5;
    font-size: .95rem;
}

@media only screen and (max-width: 500px) and (min-width: 375px) {

    .content {
        gap: 10px;
    }
    
    .content img {
        padding: 12px;
    }

    .info {
        width: clamp(280px, 60vw, 320px);
    }

    h1 {
        font-size: 1.3rem;
    }

    p {
        font-size: .875rem;
        line-height: 1.8;
        width: fit-content;
    }

    .content {
        padding: 25px;
        width: clamp(320px, 75vw ,420px);

    }

    .circle_buttons {
        margin: 0;
        padding: 0;
        gap: 0;

    }

    .circle {
        width: 42px;
        height: 42px;
        margin-right: 3px;
        font-size: .8rem;
    }

    .sub {
        width: clamp(262px, 60vw, 310px);
    }

    .sub:focus {
        background: var(--color-white);
        color: var(--color-orange);
    }


    .thanks_section {
        padding: 25px;
        width: 320px
    }

    .paragraph {
        font-size: .85rem;
    }
}